* {
  box-sizing: border-box;
}

body {
  background-color: #F4B1A5;
  font-family: 'Dancing Script', sans-serif;
  background: rgb(150,107,116);
background: linear-gradient(90deg, rgba(150,107,116,1) 1%, rgba(228,177,175,1) 49%, rgba(196,134,131,1) 91%);
}

h1 {
  font-size: 90px;
  margin: 10px 0 30px;
  line-height: 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.473);
  position: relative;
}

.container {
  background-image: url(file:///Users/tugceartikaslan/Desktop/wedding/images/heroimage.jpg);
  opacity: 0.80;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.container span {
  display: flex;
  justify-content: center;
  margin-top: 195px;
  width: 100%;
  font-size: 40px;
  background-color: rgba(219, 193, 217, 0.521);
  font-weight: 800;
  text-align: center;
  color: rgba(245, 245, 245, 0.644);
  font-family: 'Fira Sans', sans-serif;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 10px;

}

li > a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: white;
}

/* .container img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  filter: opacity(50%);
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  color: #eee;
}

.menu {
  display: flex;
  margin: 0px auto;
  list-style: none;
  padding: 10px 30%;
}

.menu a {
  font-size: 23px;
  color:white;
  text-decoration: none;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
  padding-right: 30px;
}

.burger .line1,
.burger .line2,
.burger .line3{
  width: 24px;
  height: 3px;
  background-color: #eee;
  transition: .3s ease;
}
.burger .line2{
  margin: 3px 0px;
}


.nav-active {
  transform: translateX(0);
  background-color: transparent;
}

.nav-active a {
  color: #F4B1A5;
}

.close .line1 {
  transform: rotate(-45deg) translate(-5px,3px);
  transition: 0.5s ease;
}

.close .line2 {
  opacity: 0;
}

.close .line3 {
  transform: rotate(45deg) translate(-5px,-3px);
  transition: .3s ease;
}

@keyframes linksFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.detaylar {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #eaeaed;
}

.detaybaslik {
  /* font-family: 'Nunito', sans-serif; */
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #eaeaed;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

textarea {
  resize: vertical;
}

.banner-icon {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.RSVP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.rsvp-baslik {
  font-size: 36px;
  color: #eaeaed;
  font-weight: 800;
}

.rsvp-detay {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #eaeaed;
}


#timer {  
font-size: 32px;
font-weight: 300;
color: white;
text-shadow: 0 0 20px #107dac;
font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif; 
display: fixed;
justify-content: center;
text-align: center;
/* display: inline-block; */
padding: 50px 20px 50px 20px;
width: 100%;
}  

#timer div {
min-width: 90px;
display: inline-block;
} 

#timer span {
color: #222324;
display: block;
font-size: .35em;
font-weight: 400;
}

@media screen and (max-width: 768px){
  nav {
    overflow-x: hidden;
  }
  h1 {
    font-size: 70px;
  }

  .container span {
    font-size: 35px;
  }

  .burger {
    display: block;
    z-index: 1;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background: #F4B1A5;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: 0.5s ease;
  }

  .map {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }

  nav {
    float: right;
  }

  .menu li{
    opacity: 0;
  }

  .rsvp-detay {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #eaeaed;
    text-align: center;
  }

  .details {
    text-align: center;
    flex-direction: column;
  }

  .nav-active {
    transform: translateX(0);
    background: #f4b1a5cf;
    z-index: 1;
    position: absolute;
  }

  .nav-active a {
    color: white;
  }

  .banner-icon {
    margin-left: 88px;
  }
}
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: 50px;
  }

  .container span {
    font-size: 25px;
  }
  #timer {  
    font-size: 2em;
  }
  .banner-icon {
    margin-left: 88px;
  }
}